h1 {
  font-size: 3em;

  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-size: 1.8em;

  margin-top: 0;
  margin-bottom: 0.5em;
}

.content {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5em;

  color: #303846;
}

.flex-container {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.header {
  position: fixed;
  border: 1px solid red;

  height: 50px;
  padding: 5px 20px 5px 20px;

  background-color: #fff;
}

.nav__list-item {
  margin-right: 20px;
}

.nav__list-item:last-child {
  margin-right: 0;
}
