a {
  text-decoration: none;
}

.content {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5em;

  color: #303846;
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  
  height: 50px;
  width: 100vw;
  padding: 5px 20px 5px 20px;
  margin-top: -50px;

  background-color: #fff;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__title {
  font-weight: bold;
  font-size: 20px;
}

.logo__img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.nav__list {
  display: flex;

}

.nav__list-item {
  font-weight: bold;

  margin-right: 20px;

  cursor: pointer;
}

.nav__list-item:last-child {
  margin-right: 0;
}

.main {
  display: flex;
  justify-content: center;
  margin-top: 50px;

  background: url('../images/banner.png') 40% 40% no-repeat;
  background-size: cover;
}

.main__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 1000px;
  padding: 60px 0 60px 0;
}

.main__img {
  width: 250px;
  height: 250px;
}

.main__title {
  font-weight: bold;
  font-size: 60px;
  -webkit-text-stroke: .3px #303846;
  color: #f7f7f7;

  margin-top: 15px;
}

.main__tagline {
  font-weight: bold;
  font-size: 20px;
  -webkit-text-stroke: .2px #303846;
  color: #f7f7f7;

  margin-top: 20px;
}

.main__link {
  font-size: 1em;
  font-weight: bold;
  -webkit-text-stroke: .2px #303846;
  color: #f7f7f7;

  margin-top: 20px;
  padding: 10px;

  border: 2px solid #fff;
  border-radius: 10px;

  cursor: pointer;
}

.vantages {
  display: flex;
  justify-content: center;
}

.vantages__wrapper {
  display: flex;
  justify-content: space-between;

  width: 1000px;
}

.vantages__card {
  padding: 60px 0 60px 0;
  width: 30%;
}

.vantages__title {
  font-size: 28px;
  font-weight: bold;
}

.vantages__description {
  font-size: 18px;
}

.about {
  display: flex;
  justify-content: center;

  padding: 60px 0 60px 0;
}

.about__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 1000px;
}

.about__wrapper_reverse {
  flex-direction: row-reverse;
}

.about_grey {
  background-color: #f7f7f7;
}

.about__card {
  width: 45%;
}

.about__title {
  font-size: 28px;
  font-weight: bold;
}

.about__description {
  font-size: 18px;

  margin-bottom: 20px;
}

.about__description:last-child {
  margin-bottom: 0;
}

.about__img {
  width: 30%;
}

.form-section {
  display: flex;
  justify-content: center;

  padding: 60px 0 60px 0;

  background-color: #f7f7f7;
}

.form-section__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 1000px;
}


.form__title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;

  margin-bottom: 10px;
}

.form {
  width: 50%;
}

.form__set {
  display: flex;
  flex-direction: column;

  padding: 20px;
  margin-bottom: 10px;

  border: 2px solid #09d3ac;
}

.form__legend {
  font-weight: bold;
  font-size: 22px;
  color: #09d3ac;
}

.form__group {
  display: flex;
  justify-content: space-between;

  margin-bottom: 20px;
}

.form__label {
  font-weight: bold;
}

.form__input {
  border-radius: 10px;
  border: 1px solid #999999;

  padding: 5px;
}

.form__selector {
  width: 207px;

  padding: 5px;
  border-radius: 10px;
  border: 1px solid #999999;
  
  background-color: #fff;
}

.form__submit {
  font-size: 1em;
  font-weight: bold;
  color: #09d3ac;

  width: 160px;

  margin-top: 10px;
  padding: 10px;

  border: 2px solid #09d3ac;
  border-radius: 10px;

  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;

  background-color: #303846;

  padding: 60px 0 60px 0;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;

  width: 1000px;
}

.footer__block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.logo__title_light {
  color: #f7f7f7;
}

.footer__copy {
  color: #f7f7f7;
}

.footer__block-title {
  font-size: 20px;
  color: #f7f7f7;

  margin-bottom: 15px;
}

.footer__list-item {
  color: #f7f7f7;
  margin-left: 35px;
  list-style-type: disc;
}

.footer__list-link {
  color: #f7f7f7;
}